/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 68px 0px;
  margin: 0 32px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 68px;
  max-width: 1090px;
  width: 100%;
  padding: 68px 0px;
  border-top: 3px solid rgba(185, 173, 129, 0.3);
}

.footer-logo {
  width: 257px;
}

.footer-item_container {
  display: flex;
  flex: 1;
  gap: 42px;
}

.footer-item,
.footer-item > ul,
address,
a,
.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 22px;
  color: #000;
}

.footer-menu a {
  font-size: 16px;
  color: #686b68;
}

.footer-menu a:hover {
  color: #b9ad81;
}

.copy {
  text-align: center;
  background-color: #eff5f0;
  padding: 23px 0;
  width: 100%;
  margin: 0;
}

.footer-item_social {
  display: flex;
  gap: 15px;
}

/* end Footer */
