/* contato títulos */
.recuperacao-main {
  background: url("../images/background-contato.png") no-repeat;
}

.recuperacao {
  width: 50%;
}

@media (max-width: 750px) {
  .recuperacao {
    width: 100%;
  }
}
