/* Seção Sobre */
.about-hero {
  background: url("../images/background-about.png") no-repeat;
}

/* ABOUT HELP */
.home-help {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #eff5f0;
  padding: 68px 0px;
 }

.help-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
  max-width: 1090px;
  width: 100%;
  margin: 0 32px;
}

.about-help-image {
  flex: 1 1 300px;
  max-width: 100%;
}
.about-help-image img {
  border-radius: 15px;
}

.about-help-description {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  gap: 58px;
}

.about-help-description h3 {
  font-weight: 700;
  font-size: 32px;
}

.about-help-description p {
  color: #686b68;
  font-weight: 400px;
  font-size: 24px;
  line-height: 36px;
}

.about-help-icon {
  display: flex;
  gap: 18px;
  align-items: center;
}

/* .about-help-description a > button {
  color: #fff;
  font-size: 20px;
  font-weight: 400px;
  position: absolute;
  background-color: #558e60;
  box-shadow: 0px 5px 7px rgba(85, 142, 96, 0.35);
  border-radius: 9px;
  width: 200px;
  height: 80px;
  border: 0;
  cursor: pointer;
}

.bttn:hover {
  cursor: pointer;
  color: #fff;
  background-color: #8dca9b;
  transition: ease 0.5s;
} */

/* ABOUT LOCALIZATION */
.about-localization {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 32px;
}

.about-localization > iframe {
  width: 100%;
  max-width: 1090px;
  height: 350px;
  border: 0;
}


@media (max-width: 960px) {
 .help-container {
  align-items: center;
  gap: 38px;
  text-align: center;
}

.about-help-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 300px;
 }
 
.about-help-description{
  align-items: center;
}
}
