.register-main {
  background: url("../images/background-contato.png") no-repeat;
}
/* end contato títulos */

.register {
  width: 50%;
}

@media (max-width: 750px) {
  .register {
    width: 100%;
  }
}
