/* Reset */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* end Reset */
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: #242222;
  font-weight: 700;
  padding: 28px 0;
  margin: 38px 0;
  position: relative;
  text-align: center;
}

.title::after {
  content: "";
  width: 268px;
  height: 12px;
  position: absolute;
  height: 5px;
  background-color: #b9ad81;
  bottom: 0;
}

.subtitle {
  font-size: toRem(32);
  font-weight: 700;
  color: #242222;
}

.paragraph {
  color: #686b68;
  font-size: toRem(24);
  line-height: toRem(37);
  font-weight: 400;
  text-align: left;
}
@media (max-width: 750px) {
  .paragraph {
    font-size: 1rem;
  }
}

/* Header */
.header {
  background: url("../images/hero_cover.png") no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  place-items: center;
}

.logo {
  width: 148px;
}

.navbar {
  font-size: 20px;
}
.navbar ul {
  display: flex;
  gap: 20px;
}
@media (max-width: 960px) {
  .navbar {
    display: none;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 36px;
  background-color: #eff5f0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 32px;
  opacity: 0.8;
}
.menu a {
  color: #242222;
  padding: 28px 0;
  position: relative;
  font-weight: 700;
}
.menu a:hover {
  color: #558e60;
}

.content-header {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 32px;
  padding: 68px;
  width: 100%;
  color: #eff5f0;
}
@media (max-width: 960px) {
  .content-header {
    padding: 1.75rem;
    gap: 1.75rem;
  }
}
@media (max-width: 750px) {
  .content-header {
    gap: 0.75rem;
  }
}
.content-header span {
  color: #b9ad81;
}
.content-header h1 {
  font-size: 4rem;
  position: relative;
  text-align: center;
  padding-bottom: 38px;
}
@media (max-width: 960px) {
  .content-header h1 {
    font-size: 3rem;
  }
}
.content-header h1:after {
  content: "";
  position: absolute;
  width: 156px;
  height: 6px;
  background-color: #016956;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}
.content-header .paragraph {
  max-width: 50ch;
  color: #eff5f0;
  text-align: center;
  font-weight: 300;
  margin-bottom: 24px;
}
.content-header button {
  border: 3px solid #b9ad81;
  background-color: transparent;
  color: white;
  padding: 15px 40px;
  border-radius: 9px;
}
.content-header button:hover {
  background-color: #b9ad81;
  color: #fff;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

.mobile-nav {
  display: none;
}
@media (max-width: 960px) {
  .mobile-nav {
    display: block;
  }
}

.menu-mobile {
  display: none;
  position: absolute;
  top: 120px;
  right: 0px;
  width: 100%;
  height: 100vh;
  padding: 24px;
  background-color: #fff;
  transition: 0.3s ease;
  overflow: hidden;
}

.menu-mobile-icon {
  font-size: 28px;
  cursor: pointer;
}

.menu-mobile-icon:hover {
  opacity: 0.5;
}

.menu-mobile ul {
  padding: 5px;
}

.menu-mobile li a {
  color: #558e60;
  padding: 15px;
}

.menu-mobile li a:hover {
  color: #b9ad81;
  padding: 15px;
  background-color: #e1e6e1;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked + .menu-mobile {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* end Header */
/*Start CSS Oferta*/
section.oferta {
  margin: 0 auto;
  width: 90%;
  height: 100vh;
  padding: 0;
  display: flex;
  align-items: center;
}

div.oferta__container__relogio {
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 20px;
}
div.oferta__container__relogio img {
  width: 10vh;
}
div.oferta__container__relogio h3 {
  color: #242222;
  font-size: 3.5em;
}
div.oferta__container__detalhe {
  background-color: #b9ad81;
  width: 620px;
  height: 7px;
  margin: 10px 0 50px 10px;
}
div.oferta__container__video {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
}
div.oferta__container__video__iframe {
  width: 700px;
  height: 400px;
}
div.oferta__container__video__iframe > iframe {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
div.oferta__container__video__info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 700px;
}
div.oferta__container__video__info h3 {
  color: #b9ad81;
  font-size: 2em;
  font-family: "Merriweather", serif;
}
div.oferta__container__video__info p {
  color: #686b68;
  word-spacing: 10px;
  line-height: 25px;
  margin-top: 20px;
  text-align: justify;
}
div.oferta__container__video__info span.oferta-valor-anterior {
  font-size: 1.5em;
  text-decoration-line: line-through;
  text-decoration-color: #ff0000;
}
div.oferta__container__video__info span.oferta-valor-atual {
  font-size: 2.5em;
  color: #b9ad81;
}
div.oferta__container__video__info button {
  background-color: #558e60;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  margin-top: 30px;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 1.5em;
}

/*End CSS Oferta*/
/*start media oferta*/
@media (max-width: 416px) and (orientation: portrait) {
  section.oferta {
    min-width: 416px;
    margin: 40px 0 0 0;
  }
  div.oferta__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div.oferta__container__relogio {
    column-gap: 10px;
  }
  div.oferta__container img {
    width: 5vh;
  }
  div.oferta__container h3 {
    color: #242222;
    font-size: 2em;
  }
  div.oferta__container__detalhe {
    background-color: #b9ad81;
    width: 350px;
    height: 7px;
    margin: 10px 0 20px 10px;
  }
  div.oferta__container__video {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div.oferta__container__video__iframe {
    width: 350px;
    height: 200px;
  }
  div.oferta__container__video__iframe > iframe {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  div.oferta__container__video__info {
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    padding-bottom: 10px;
  }
  div.oferta__container__video__info h3 {
    color: #b9ad81;
    font-size: 2em;
    font-family: "Merriweather", serif;
    padding: 10px;
  }
  div.oferta__container__video__info p {
    color: #686b68;
    margin-top: 0;
    text-align: justify;
    padding: 10px;
  }
  div.oferta__container__video__info button {
    margin: 0;
  }
}
@media (max-width: 916px) and (orientation: landscape) {
  section.oferta {
    min-width: 100%;
    margin: 120px 0 400px 0;
    padding: 10px;
  }
  div.oferta__container img {
    width: 50px;
  }
  div.oferta__container h3 {
    color: #242222;
    font-size: 2em;
  }
  div.oferta__container__detalhe {
    background-color: #b9ad81;
    width: 340px;
    height: 7px;
    margin: 10px 0 20px 10px;
  }
  div.oferta__container__video {
    column-gap: 15px;
  }
  div.oferta__container__video__iframe {
    width: 350px;
    height: 300px;
  }
  div.oferta__container__video__info {
    width: 500px;
    align-items: center;
    padding: 10px;
  }
  div.oferta__container__video__info h3 {
    color: #b9ad81;
    font-size: 2em;
    font-family: "Merriweather", serif;
  }
  div.oferta__container__video__info p {
    color: #686b68;
    margin-top: 10px;
    text-align: justify;
  }
  div.oferta__container__video__info button {
    margin: 15px 0 0 0;
  }
}
@media (min-width: 416px) and (max-width: 916px) and (orientation: portrait) {
  section.oferta {
    min-width: 100%;
    margin: 30px 0 0 0;
    display: flex;
    align-items: center;
  }
  div.oferta__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div.oferta__container__relogio {
    column-gap: 10px;
  }
  div.oferta__container img {
    width: 10vw;
  }
  div.oferta__container h3 {
    color: #242222;
    font-size: 5vw;
  }
  div.oferta__container__detalhe {
    background-color: #b9ad81;
    width: 52vw;
    height: 7px;
    margin: 10px 0 20px 10px;
  }
  div.oferta__container__video {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div.oferta__container__video__iframe {
    width: 70vw;
    height: 350px;
  }
  div.oferta__container__video__iframe > iframe {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  div.oferta__container__video__info {
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    padding: 10px;
  }
  div.oferta__container__video__info h3 {
    color: #b9ad81;
    font-size: 2em;
    font-family: "Merriweather", serif;
    padding: 10px;
  }
  div.oferta__container__video__info p {
    color: #686b68;
    margin-top: 0;
    text-align: justify;
    padding: 10px;
  }
  div.oferta__container__video__info button {
    margin: 15px 0 0 0;
  }
}
@media (min-width: 916px) and (max-width: 1440px) and (orientation: landscape) {
  section.oferta {
    min-width: 100%;
  }
  div.oferta__container__video {
    padding: 10px;
  }
  div.oferta__container__video__iframe {
    width: 100%;
    height: 350px;
  }
  div.oferta__container__video__info {
    width: 100%;
    padding: 10px;
  }
}
@media (min-width: 1440px) and (orientation: landscape) {
  div.oferta__container__video {
    padding: 10px;
  }
  div.oferta__container__video__iframe {
    width: 900px;
    height: 400px;
  }
  div.oferta__container__video__info {
    width: 100%;
    padding: 10px;
  }
}
/*end media oferta*/
/*Beneficios start*/
.container-content {
  background-color: #eff5f0;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}
.container-content__info {
  color: #686b68;
  font-size: 52px;
  font-weight: 700;
}

.container-wrapper {
  width: 100%;
  padding: 3rem;
  display: flex;
  left: 20px;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.container-wrapper__info {
  width: 50%;
  height: auto;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 3rem;
  margin-bottom: 2rem;
}
.container-wrapper__icon {
  margin: 0 3rem 3rem 0;
  width: 80px;
}
.container-wrapper__text {
  color: #b9ad81;
  font-size: 35px;
  display: flex;
  align-items: flex-start;
  margin-top: 90px;
}
.container-wrapper__image {
  width: 90%;
}
.container-wrapper__text-info {
  font-size: toRem(24);
  line-height: toRem(37);
  font-weight: 400;
  font-size: 25px;
  width: 90%;
  text-align: left;
  margin-top: 2rem;
}

.content-text {
  width: 50%;
  padding: 6rem;
  flex-wrap: nowrap;
  flex-direction: column;
}
.content-text__paragraph {
  font-size: 30px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.content-text__icon {
  margin: 0 2rem 2rem 4rem;
  width: 100px;
}

.content-text__container {
  display: flex;
  justify-content: flex-start;
  margin: 3rem 0;
}
.content-text__btn {
  background-color: #558e60;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  margin-left: 3rem;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
}

.text {
  font-size: toRem(32);
  font-weight: 700;
  color: #b9ad81;
  margin: 0 0 3rem 1rem;
  align-self: center;
  justify-content: center;
}
.text__info {
  margin-top: 1.5rem;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  justify-content: center;
}

@media (max-width: 960px) {
  .container-content {
    background-size: cover;
    width: 100%;
    height: 40vh;
  }
  .container-content__info {
    font-size: 2.2rem;
  }
  .container-wrapper {
    display: flex;
    align-self: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .container-wrapper__icon {
    display: none;
  }
  .container-wrapper__info {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container-wrapper__text {
    margin-bottom: 1rem;
    font-size: 28px;
  }
  .container-wrapper__image {
    width: 100%;
  }
  .container-wrapper__text-info {
    width: 100%;
    text-align: start;
    padding-top: 1rem;
  }
  .content-text {
    padding-top: 2rem;
  }
  .content-text__paragraph {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding-bottom: 0.5rem;
  }
  .content-text__icon {
    width: 100px;
  }
  .content-text__btn {
    width: 200px;
    font-size: 20px;
  }
}
/*Beneficios End*/
/* start redes sociais */
.fb__title {
  text-align: center;
  padding: 94px 0 94px 0;
}
.fb__title h3 {
  font-size: 4rem;
  color: #686b68;
}

.fb__container {
  display: flex;
  justify-content: space-around;
}
.fb__container .fb__box {
  width: 43%;
  height: 380px;
  background-color: #eff5f0;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  display: flex;
  align-items: center;
}
.fb__container .fb__box p {
  font-size: 24px;
}
.fb__container .fb__box__comentario {
  width: 100%;
  height: 30vh;
  padding: 0 60px 0 50px;
}
.fb__container .fb__dados {
  width: 100%;
  display: flex;
  padding: 0 0 30px 0;
}
.fb__container .fb__dados p {
  font-size: 20px;
  font-weight: 700;
  padding-top: 30px;
  line-height: 19px;
}
.fb__container .fb__dados span {
  font-size: 16px;
  font-weight: 400;
}
.fb__container .fb__dados img {
  margin: 12px;
}

.fb__button {
  padding: 94px 0 94px 0;
  display: flex;
  justify-content: center;
}
.fb__button button {
  background-color: #558e60;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 1.5em;
}

.redes-sociais {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  margin: 1rem;
}
.redes-sociais .card-seguir-redes {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.redes-sociais h2 {
  font-size: 3rem;
  margin-bottom: 5rem;
}
.redes-sociais ul {
  display: flex;
  gap: 1rem;
}
.redes-sociais li {
  align-self: center;
  color: #686b68;
  font-weight: bold;
}
.redes-sociais a:hover {
  opacity: 0.5;
}
.redes-sociais img {
  max-width: 100%;
}

@media (max-width: 1200px) {
  .fb__container {
    flex-flow: column;
    align-items: center;
  }
  .fb__container .fb__box {
    margin-top: 30px;
    width: 60%;
  }
}
@media (max-width: 960px) {
  .redes-sociais {
    flex-flow: column;
    text-align: center;
  }
  .fb__container {
    flex-flow: column;
    align-items: center;
  }
  .fb__container .fb__box {
    width: 80%;
    margin-top: 30px;
    overflow: hidden;
  }
}
/* end redes sociais */
.interesse-main {
  display: flex;
  flex-direction: row;
  height: 60vh;
  background-image: url("../images/background-home.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.interesse-left {
  justify-items: center;
  justify-content: center;
  margin-left: 10vh;
}
.interesse-left .container {
  margin: 0 32px;
  padding: 68px 0px;
}
.interesse-left > .subtitle {
  margin: 5vh 0 0 4vw;
}
.interesse-left .btn {
  width: 140px;
  height: auto;
  border-radius: 9px;
  border: none;
  box-shadow: none;
  margin-left: 20vw;
  font-size: 20px;
  padding: 12px 22px;
  background-color: #558e60;
  color: #eff5f0;
}

.interesse-right {
  display: flex;
  overflow: hidden;
  position: relative;
  left: 20vw;
}

.itens-form {
  width: 100%;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  margin-right: 50%;
  margin-bottom: 5vh;
}

.nomes {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
}

.nome1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.nome1 > label {
  color: #242222;
  margin-bottom: 10px;
}
.nome1 > input {
  width: 90%;
  border: solid 1px #b9ad81;
  padding: 12px 8px;
  border-radius: 6px;
}

.nome2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: 0;
}
.nome2 > label {
  color: #242222;
  margin-bottom: 10px;
}
.nome2 > input {
  width: 100%;
  border: solid 1px #eff5f0;
  padding: 12px 8px;
  border-radius: 6px;
}

.cells {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0px;
}
.cells > input {
  width: 100%;
  border: solid 1px #b9ad81;
  padding: 10px 8px;
  border-radius: 6px;
}
.cells > label {
  color: #242222;
  margin-bottom: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #eff5f0;
  padding: 68px 0px;
  margin: 0 32px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 68px;
  max-width: 1090px;
  width: 100%;
  padding: 68px 0px;
  border-top: 3px solid #b9ad81;
}

.footer-logo {
  width: 257px;
}

.footer-item_container {
  display: flex;
  justify-content: center;
  gap: 42px;
}

.footer-item {
  margin: 3rem;
}
.footer-item > h3 {
  margin: 0 0 2rem 0;
}
.footer-item > ul,
.footer-item address,
.footer-item a,
.footer-item .footer-menu {
  display: flex;
  flex-direction: column;
  gap: 22px;
  color: #000;
}

.footer-menu a {
  font-size: 16px;
  color: #686b68;
}
.footer-menu a:hover {
  color: #b9ad81;
}

.copy {
  text-align: center;
  background-color: #eff5f0;
  padding: 23px 0;
  width: 100%;
  margin: 0;
}

.footer-item_social {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-item_social .paragraph {
  color: #686b68;
  font-size: 12pt;
  line-height: 36px;
  font-weight: bold;
  text-align: left;
}
.footer-item_social a {
  display: flex;
  flex-direction: row;
}

.contact-image {
  width: 2vw;
}

@media (max-width: 750px) {
  .footer {
    padding: 22px 0px;
  }
  .footer-container {
    gap: 42px;
    padding: 42px 0px;
    flex-direction: column;
  }
  .footer-item_container {
    width: 100%;
    flex-direction: column;
  }
  .footer-item {
    width: 100%;
    gap: 22px;
  }
  .footer-item > ul,
  .footer-menu {
    gap: 12px;
  }
}

/*# sourceMappingURL=single-page.css.map */
