html {
    font-family: "Inter", sans-serif;
    align-items: center;
    text-align: center;   
    margin: 2px;
  }

 img {

    border-radius: 5%;
    width: 100%;
    height: auto;

  }


  
h1 {

border-style: 5px solid white;
background-color:  #016956;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: white;
font-size: 2em;
border-radius: 19%;
margin: 20px;
padding: 10px;

}


p,footer {

  font-size: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
   
  }
  

  ul {
    
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    background-color: #016956;
    border-radius: 49%
  }
  

  
  li,a:link{

    display: inline-block;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
  
  }
  
  a:hover {

    color:greenyellow;
    
  }
  