@import url("./reset.css");
@import url("./home.css");
@import url("./about.css");
@import url("./acomodacoes.css");
@import url("./contato.css");
@import url("./register.css");
@import url("./signin.css");
@import url("./recuperacao.css");
@import url("./reservas.css");

/* Guia de cores */

/* verde #016956 */
/* verde-claro #0EFF5F0 */
/* cinza #E1E6E1 */
/* dourado #B9AD81 */

/* cores e tamanhos das fontes */
/* Vamos usar a fonte Inter copiar e colar o link para seu arquivo no head */
/* <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet"> */

/* links-navbar #242222 tamanho 20px */
/* texto-footer #686B68 tamanho 16px */
/* subtitulos-footer #242222 tamanho 24px */
/* titulos #242222 tamanho 48px */
/* subtitulos #242222 tamanho 32px */
/* paragrapho #686B68 tamanho 24px */

/* Tamanho do container principal */
/* 1090px */

html {
  font-family: "Inter", sans-serif;
}

/* Header */
.header {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 68px 0px;
  margin: 0 32px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  width: 100%;
  flex-wrap: wrap;
}
/* end Header */

/* container */
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 68px 0px;
  margin: 0 32px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
  width: 100%;
  max-width: 1090px;
}

.reverse {
  flex-direction: row-reverse;
}

.content-wrapper {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  gap: 58px;
}

.item-content-wrapper {
  display: flex;
  gap: 18px;
  align-items: center;
}

.item-wrapper-image {
  flex: 1 1 300px;
  max-width: 100%;
}

.item-image {
  border-radius: 15px;
  height: 530px;
  object-fit: cover;
}

/* end container */

/* Navbar */
.logo {
  width: 217px;
}
.navbar {
  font-size: 20px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 36px;
}

.menu a {
  color: #242222;
  padding: 28px 0;
  position: relative;
}

.menu a:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #b9ad81;
  bottom: 0;
}

.menu-btn_signin,
.menu-btn_login {
  width: 140px;
  height: auto;
  border-radius: 9px;
  border: none;
  box-shadow: none;
  font-size: 20px;
  padding: 12px 22px;
  color: #558e60;
}

.menu-btn_login {
  background-color: #e1e6e1;
}

.menu-btn_login {
  background-color: #fff;
  border: 1px solid #558e60;
}

.menu-btn_signin:hover {
  background-color: #558e60;
  color: #fff;
  opacity: 0.5;
  transition: ease 0.2s;
  cursor: pointer;
}

.menu-btn_login:hover {
  cursor: pointer;
  background-color: #e1e6e1;
  transition: ease 0.2s;
  cursor: pointer;
}

.mobile-nav {
  display: none;
}

.menu-mobile {
  display: none;
  position: absolute;
  top: 120px;
  right: 0px;
  width: 100%;
  height: 100vh;
  padding: 24px;
  background-color: #fff;
  transition: 0.3s ease;
  overflow: hidden;
}

.menu-mobile-icon {
  font-size: 28px;
  cursor: pointer;
}

.menu-mobile-icon:hover {
  opacity: 0.5;
}

.menu-mobile ul {
  padding: 5px;
}
.menu-mobile li a {
  color: #558e60;
  padding: 15px;
}

.menu-mobile li a:hover {
  color: #b9ad81;
  padding: 15px;
  background-color: #e1e6e1;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked + .menu-mobile {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* end Navbar */

/* Titulos e paragrapho */
.hero-title {
  font-size: 86px;
  font-weight: 700;
  line-height: 104px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: #242222;
  font-weight: 700;
  padding: 28px 0;
  margin: 38px 0;
  position: relative;
  text-align: center;
}

.title::after {
  content: "";
  width: 268px;
  height: 12px;
  position: absolute;
  height: 5px;
  background-color: #b9ad81;
  bottom: 0;
}

.subtitle {
  font-size: 32px;
  font-weight: 700;
  color: #242222;
}

.paragraph {
  font-size: 24px;
  color: #686b68;
  line-height: 36px;
  font-weight: 400px;
  text-align: left;
}

/* end Titulos */

/* Buttons */
.btn {
  width: 288px;
  height: auto;
  border-radius: 9px;
  border: none;
  box-shadow: none;
  font-size: 20px;
  padding: 12px 22px;
  color: #fff;
  background-color: #558e60;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background-color: #558e60;
  color: #fff;
  opacity: 0.5;
  transition: ease 0.2s;
  cursor: pointer;
}
/* end Buttons */

/* icons */
.icons {
  width: 46px;
  height: auto;
}
/* end icons */

/* Background HERO */
.cover-background {
  background-size: cover;
  padding: 164px;
  width: 100%;
  height: 634px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  background-size: cover;
}

/* ***************************** */

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 68px 0px;
  margin: 0 32px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 68px;
  max-width: 1090px;
  width: 100%;
  padding: 68px 0px;
  border-top: 3px solid rgba(185, 173, 129, 0.3);
}

.footer-logo {
  width: 257px;
}

.footer-item_container {
  display: flex;
  flex: 1;
  gap: 42px;
}

.footer-item,
.footer-item > ul,
address,
a,
.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 22px;
  color: #000;
}

.footer-menu a {
  font-size: 16px;
  color: #686b68;
}

.footer-menu a:hover {
  color: #b9ad81;
}

.copy {
  text-align: center;
  background-color: #eff5f0;
  padding: 23px 0;
  width: 100%;
  margin: 0;
}

.footer-item_social {
  display: flex;
  gap: 15px;
}

/* end Footer */

/* media queries */

@media (max-width: 1120px) {
  .header-container {
    justify-content: center;
  }
  .menu {
    padding-top: 32px;
  }
  .home-acomodacoes-images {
    font-size: 86rem;
  }
}

@media (max-width: 960px) {
  .header-container {
    justify-content: space-between;
  }
  .menu {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
  .hb {
    display: block;
  }

  .cover-background {
    padding: 52px;
    width: 100%;
    height: 495px;
  }
  .hero-title {
    font-size: 56px;
    line-height: 64px;
  }

  .home-reserva-container {
    gap: 58px;
    flex-direction: column-reverse;
  }

  .home-reserva-content {
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 750px) {
  .cover-background {
    padding: 32px;
    width: 100%;
    height: 366px;
  }

  .hero-title {
    font-size: 32px;
    line-height: 44px;
  }

  .section {
    padding: 32px 0;
  }

  .content-wrapper {
    align-items: center;
    gap: 38px;
    text-align: center;
  }

  .title {
    font-size: 48px;
    font-weight: 700;
    padding: 28px 32px;
    text-align: center;
  }

  .subtitle {
    font-size: 28px;
  }

  .paragraph {
    font-size: 16px;
    line-height: 28px;
  }

  .footer {
    padding: 22px 0px;
  }
  .footer-container {
    gap: 42px;
    padding: 42px 0px;
    flex-direction: column;
  }

  .footer-item_container {
    width: 100%;
    flex-direction: column;
  }

  .footer-item {
    width: 100%;
    gap: 22px;
  }

  .footer-item > ul,
  .footer-menu {
    gap: 12px;
  }

  .title {
    font-size: 32px;
  }
}

@media (max-width: 375px) {
  .logo {
    width: 50%;
  }
  .hb {
    width: 80%;
  }
}
