@use "mixin" as *;

$primary-green: #558e60;
$secondary-green: #016956;
$secondary-white: #eff5f0;
$primary-gold: #b9ad81;
$titles-gray: #242222;
$paragraph-gray: #686b68;

@function toRem($pixel) {
  $remValue: calc($pixel / 16) + rem;
  @return $remValue;
}

//textos
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: $titles-gray;
  font-weight: 700;
  padding: 28px 0;
  margin: 38px 0;
  position: relative;
  text-align: center;
}

.title::after {
  content: "";
  width: 268px;
  height: 12px;
  position: absolute;
  height: 5px;
  background-color: $primary-gold;
  bottom: 0;
}

.subtitle {
  @include font-type(32);
  color: #242222;
}

.paragraph {
  color: $paragraph-gray;
  @include font-type(24);
  text-align: left;
  @include responsive(mobile) {
    font-size: toRem(16);
  }
}
