@use "base" as *;
@use "oferta" as x;

$fb-h3-font-size: 4rem;
$fb-p-font-size: 24px;
$fb-nome: 20px;
$fb-nome-fweight: 700;
$fb-cargo: 16px;
$fb-cargo-fweight: 400;
$fb-margin: 12px;
$fb-pad: 94px 0 94px 0;

/* start redes sociais */

.fb__title {
  text-align: center;
  padding: $fb-pad;

  h3 {
      font-size: $fb-h3-font-size;
      color: $paragraph-gray;
  }
}

.fb__container {
  display: flex;
  justify-content: space-around;
  //border: 1px solid black;

  .fb__box {
    width: 43%;
    height: 380px;
    background-color: $secondary-white;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.25);
    border-radius: 35px;
    display: flex;
    align-items: center;

    p {
      font-size: $fb-p-font-size;
    }
  }

  .fb__box__comentario {
    width: 100%;
    height: 30vh;
    padding: 0 60px 0 50px;
  }

  .fb__dados {
    width: 100%;
    display: flex;
    padding: 0 0 30px 0;

    p {
      font-size: $fb-nome;
      font-weight: $fb-nome-fweight;
      padding-top: 30px;
      line-height: 19px;
    }

    span {
      font-size: $fb-cargo;
      font-weight: $fb-cargo-fweight;
    }

    img {
      margin: $fb-margin;
    }
  }
}

.fb__button {
  padding: $fb-pad;
  display: flex;
  justify-content: center;

  button {
    background-color: $primary-green;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 0;
    color: white;
    cursor: pointer;
    font-size: x.$texto-font-size;
  }
}

.redes-sociais {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .card-seguir-redes {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  height: 100vh;
  margin: 1rem;

  h2 {
    font-size: 3rem;
    margin-bottom: 5rem;
  }

  ul {
    display: flex;
    gap: 1rem;
  }

  li {
    align-self: center;
    color: $paragraph-gray;
    font-weight: bold;
  }

  a:hover {
    opacity: 0.5;
  }

  img {
    max-width: 100%;
  }
}

@media (max-width: 1200px) {
  .fb__container {
    flex-flow: column;
    align-items: center;

    .fb__box {
      margin-top: 30px;
      width: 60%;
    }
  }
}

@media (max-width: 960px) {
  .redes-sociais {
    flex-flow: column;
    text-align: center;
  }
 
  .fb__container {
    flex-flow: column;
    align-items: center;

    .fb__box {
      width: 80%;
      margin-top: 30px;
      overflow: hidden;
    }
  }
}

/* end redes sociais */