@use "base";

/* Header */
.header {
  background: url("../images/hero_cover.png") no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  place-items: center;
}

.logo {
  width: 148px;
}

.navbar {
  font-size: 20px;
  ul {
    display: flex;
    gap: 20px;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 36px;
  background-color: base.$secondary-white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 28px 32px;
  opacity: 0.8;
  a {
    color: #242222;
    padding: 28px 0;
    position: relative;
  }
  a:hover {
    color: base.$primary-green;
    font-weight: 700;
  }
}

.content-header {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 48px;
  padding: 68px;
  width: 100%;
  color: base.$secondary-white;
  span {
    color: base.$primary-gold;
  }
  h1 {
    font-size: 64px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &:after {
      content: "";
      position: absolute;
      width: 156px;
      height: 6px;
      background-color: base.$secondary-green;
      margin-top: 38px;
      bottom: -28px;
    }
  }
  .paragraf {
    max-width: 50ch;
    color: base.$secondary-white;
    text-align: center;
    font-weight: 300;
    margin-bottom: 24px;
  }

  button {
    border: 3px solid base.$primary-gold;
    background-color: transparent;
    color: white;
    padding: 15px 40px;
    border-radius: 9px;
    &:hover {
      background-color: base.$primary-gold;
      color: #fff;
      transition: ease-in-out 0.2s;
      cursor: pointer;
    }
  }
}
/* end Header */
