/*Start CSS Oferta*/
@use "base";
@use "mixins_oferta" as mxOf;

$video-width: 100%;
$video-height: 100%;
$texto-h3-font-size: 2em;
$texto-font-size: 1.5em;
$mg-oferta-top: 20px;

section.oferta {
  @include mxOf.oferta-box;
  @include mxOf.flex-oferta-center;
}

div.oferta__container {
  &__relogio {
    @include mxOf.flex-oferta-center;
    flex-direction: row;
    column-gap: 20px;
    & img {
      width: 10vh;
    }
    & h3 {
      color: base.$titles-gray;
      font-size: 3.5em;
    }
  }
  &__detalhe {
    background-color: base.$primary-gold;
    width: 620px;
    height: 7px;
    margin: 10px 0 50px 10px;
  }
  &__video {
    @include mxOf.display-flex-row;
    column-gap: 40px;
    &__iframe {
      width: 700px;
      height: 400px;

      & > iframe {
        width: $video-width;
        height: $video-height;
        border-radius: 20px;
      }
    }
    &__info {
      @include mxOf.display-flex-column;
      flex-wrap: wrap;
      width: 700px;

      & h3 {
        color: base.$primary-gold;
        font-size: $texto-h3-font-size;
        font-family: "Merriweather", serif;
      }
      & p {
        color: base.$paragraf-gray;
        word-spacing: 10px;
        line-height: 25px;
        margin-top: $mg-oferta-top;
        text-align: justify;
      }

      & span.oferta-valor-anterior {
        font-size: $texto-font-size;
        text-decoration-line: line-through;
        text-decoration-color: #ff0000;
      }
      & span.oferta-valor-atual {
        font-size: 2.5em;
        color: base.$primary-gold;
      }
      & button {
        background-color: base.$primary-green;
        width: 200px;
        height: 50px;
        border-radius: 10px;
        margin-top: 30px;
        border: 0;
        color: white;
        cursor: pointer;
        font-size: $texto-font-size;
      }
    }
  }
}

/*End CSS Oferta*/
