// vars

$df: flex;
$color1: #eff5f0;
$color2: #000;
$w1: 100%;
@mixin h1-style {
  color: #eff5f0;
  font-weight: bold;
  margin: 0 0 -20px 250px;
}

//end vars

.interesse-main {
  display: $df;
  flex-direction: row;
  height: 60vh;
  background: {
    image: url("../images/background-home.png");
    size: cover;
    repeat: no-repeat;
  }
}

.interesse-left {
  justify-items: center;
  justify-content: center;
  margin-left: 20vh;
  .container {
    margin: 0 32px;
    padding: 68px 0px;
  }
  h1 {
    @include h1-style();
  }
  .btn {
    width: 140px;
    height: auto;
    border-radius: 9px;
    border: none;
    box-shadow: none;
    margin-left: 20vw;
    font-size: 20px;
    padding: 12px 22px;
    background-color: #558e60;
    color: $color1;
  }
}

.interesse-right {
  display: flex;
  overflow: hidden;
  position: relative;
  left: 20vw;
}

.itens-form {
  width: 100%;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  margin: {
    right: 50%;
    bottom: 5vh;
  }
}

.nomes {
  display: $df;
  flex-direction: row;
  gap: 1rem;
  width: $w1;
}

.nome1 {
  width: $w1;
  display: $df;
  flex-direction: column;
  justify-items: center;
  & > label {
    color: $color2;
    margin-bottom: 10px;
  }
  & > input {
    width: 90%;
    border: solid 1px $color1;
    padding: 12px 8px;
    border-radius: 6px;
  }
}

.nome2 {
  width: $w1;
  display: $df;
  flex-direction: column;
  justify-items: center;
  margin: 0;
  & > label {
    color: $color2;
    margin-bottom: 10px;
  }
  & > input {
    width: $w1;
    border: solid 1px $color1;
    padding: 12px 8px;
    border-radius: 6px;
  }
}

.cells {
  width: $w1;
  display: $df;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0px;
  & > input {
    width: $w1;
    border: solid 1px $color1;
    padding: 10px 8px;
    border-radius: 6px;
  }
  & > label {
    color: $color2;
    margin-bottom: 10px;
  }
}
