@use "footer-form.scss";
@use "footer-links.scss";

$primary-green: #558e60;
$secondary-green: #eff5f0;
$primary-gold: #b9ad81;
$titles-gray: #242222;
$paragraf-gray: #686b68;

//textos
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: #242222;
  font-weight: 700;
  padding: 28px 0;
  margin: 38px 0;
  position: relative;
  text-align: center;
}

.title::after {
  content: "";
  width: 268px;
  height: 12px;
  position: absolute;
  height: 5px;
  background-color: #b9ad81;
  bottom: 0;
}

.subtitle {
  font-size: 32px;
  font-weight: 700;
  color: #242222;
}

.paragraf {
  color: $paragraf-gray;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400px;
  text-align: left;
}
